
#sidebar {
  position: absolute;
  width: 45px;
  top: 0;
  left: 0;
  height: 100vh;
  font-size: 2em;
  padding-left: 8.5px;
  align-items: center;
  background-color: #212121;
  display: flex;
  z-index: 6;
  pointer-events: all;
}
.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  pointer-events: none;
}
.canvas-background{
  width: 100vw;
  background-image: linear-gradient(to right, #1C5D99, #478491 50%);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  pointer-events: all;
  z-index: 1;
}
.intro{
  width: 100%;
  z-index: 5;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15%;
}
.intro-button{
  top: 0;
  left: 0;
  font-size: 12px;
  pointer-events: all;
  position: absolute;
  color: white !important;
  background-color: white !important;
}
.intro-button:hover{
  border: 1px solid black !important;
  color: black !important;
}
.resume-button{
  top: 0;
  left: 0;
  font-size: 12px;
  pointer-events: all;
  position: absolute;
  border: 1px solid #FF3A46 !important;
}
a.ant-btn {
  line-height: 30px;
  background-color: rgb(1, 1, 1, .2) !important;
}
a.ant-btn:hover{
  line-height: 30px;
  background-color: rgb(255,255,255, .2) !important;
}
.headshot{
  width: auto;
}
.about-me{
  flex-direction: column;
  padding-left: 15%;
  font-family: Raleway, sans-serif;  
  color: #212121;
  font-size: 3em;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
}
.about-me-row-1{
  display: flex;
  font-family: Raleway, sans-serif;  
  color: #212121;
  z-index: 5;
  align-content: center;
  justify-content: center;
  height: 225px;
}
.about-me-row-2{
  display: flex;
  font-family: Raleway, sans-serif;  
  color: #212121;
  z-index: 5;
  align-items: flex-end;
  margin-bottom: 5%;
  height: fit-content;
  font-size: 1rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.about-me-info{
  color:#212121;
  height: fit-content;
  background: rgb(255, 255, 255, .2);
}
.navBar{
  background-color: rgb(255, 255, 255, .5);
  border: 1px solid white;
  pointer-events: all;
  min-height: 50px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  margin-bottom: 10px;
}
.projects{
  flex-direction: column;
  padding-left: 15%;
  font-family: Raleway, sans-serif;  
  color: #212121;
  font-size: 3em;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 500px;
  scroll-behavior: smooth;
}
.projects-header{
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 40px;
  margin-top: 20px;
}
.projectsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin-top: 10px;
  columns: 40vw; 
  column-gap: 5px;
  font-size: 10%;
  pointer-events: all;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.projectsContainer::-webkit-scrollbar { 
  display: none; 
} 

.projectBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  padding: 2%;
  border: 1px solid #999;
  border-radius: 5px;
  background: rgba(56, 56, 56, 0.445);
  break-inside: avoid-column;
  margin-bottom: 1rem; 
  margin-right: 0px;
  margin: .5vw;
}
.projectBox:hover{
  box-shadow: 0 4px 6px 4px rgba(0,0,0,.2);
}
.projectPicture{
  min-width: 5vw;
  max-width: 40vw;
  max-height: 100px;
}
.projectCard{
  padding: 2%;
  border: 1px solid #999;
  border-radius: 5px;
  background: #2e2e2e;
  break-inside: avoid-column;
  margin-bottom: 1rem; 
  margin-right: 0px
}
h1 {
  margin-top: 0;
  margin-left: 0.75rem;
}
.headshot{
  height: 5em;
  width: 4.7em;
  border-radius: 50%;
}
.ant-card.ant-card-bordered{
  width: 90%;
  background-color: rgb(33, 33, 33, .4);
  color: white;
}
#root{
  overflow: visible;
}

#thumbwrap {
	position:relative;
	margin:75px auto;
  width:252px; 
  height:252px;
}
.thumb img { 
	margin:3px;
	float:left;
}
.thumb span { 
	position: absolute;
	visibility: hidden;
}
.thumb:hover, .thumb:hover span { 
	visibility:visible;
  top:0; 
  left:250px; 
	z-index:1;
}
.customLink{
  color: white;
  text-decoration: underline;
}
.customLink:hover{
  color: #2593FC;
  text-decoration: underline;
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  scroll-behavior: auto;
}

.zoom:hover {
  transform: scale(1.5);
}
.filter{
  width: auto;
  background-color: white;
  border-radius: 5px;
}
.smallOff{
  display: flex !important;
}
.smallOn{
  display: none !important;
}
@media(max-width: 750px){
  .projects{
    padding-left: 25vw;
    font-size: 20px;
  }
  .smallOff{
    display: none !important;
  }
  .smallOn{
    display: flex !important;
    flex-direction: column !important;
    margin-left: 5vw;
  }
  .about-me-row-1{
    background-color: transparent !important;
    font-size: 20px !important;
    background-color: transparent !important;
    height: 40px !important;
    padding: 0px !important;
  }
  .aboutMeLeft{
    display: none !important;
  }
  .about-me-info{
    background-color: transparent !important;
    width: 90vw !important;
    margin-left: 8vw !important;
    scroll-behavior: auto !important;
    overflow-y: scroll !important;
    pointer-events: all !important;
    padding-bottom: 10vh !important;
    border: none !important;
  }
  .about-me-row-2{
    background-color: transparent !important;
    flex-direction: column;
    overflow-y: hidden !important;
    pointer-events: all !important;
    padding: 0px !important;
  }
  .resume{
    padding-left: 10px !important;
    max-height: 60vh !important;
  }
}
@media(max-width: 450px){
  .about-me-info{
    padding-top: 50px !important;

  }
}
@media(max-width: 400px){
  .about-me-info{
    padding-top: 100px !important;
  }
}
@media(max-width: 350px){
  .about-me-info{
    padding-top: 150px !important;
  }
}
@media(max-width: 325px){
  .about-me-info{
    padding-top: 300px !important;
  }
}
@media(max-width: 300px){
  .about-me-info{
    padding-top: 300px !important;
  }
}





