#sidebar {
  position: absolute;
  width: 45px;
  top: 0;
  left: 0;
  height: 100vh;
  font-size: 2em;
  padding-left: 8.5px;
  align-items: center;
  background-color: #212121;
  display: flex;
  z-index: 5;
  pointer-events: all;
}
.app {
  height: 100vh;
  width: 100vw;
  min-width: 800px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  pointer-events: none;
}
.canvas-background{
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  background-image: linear-gradient(to right, #1C5D99, #478491 50%);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  pointer-events: all;
  z-index: -3;
}
.intro{
  width: 100%;
  z-index: 5;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15%;
}
.intro-button{
  font-size: 12px;
}
.about-me{
  flex-direction: column;
  padding-left: 15%;
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  font-size: 3em;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
}
.about-me-row-1{
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  z-index: 5;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 10%;
  background: rgb(33, 33, 33, .8);
  border-radius: 20%;
  margin-top: 20px;
  padding: 20px;
  height: 250px;
  border: 1px, white;
}
.about-me-row-2{
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  z-index: 5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 5;
  margin-bottom: 10%;
}
.headshot{
  height: 5em;
  width: 4.7em;
  border-radius: 50%;
}
.ant-card.ant-card-bordered{
  width: 90%;
  background-color: rgb(33, 33, 33, .5);
  color: white;
}
#root{
  overflow: visible;
}