
#sidebar {
  position: absolute;
  width: 45px;
  top: 0;
  left: 0;
  height: 100vh;
  font-size: 2em;
  padding-left: 8.5px;
  align-items: center;
  background-color: #212121;
  display: flex;
  z-index: 5;
  pointer-events: all;
}
.app {
  height: 100vh;
  width: 100vw;
  min-width: 800px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  pointer-events: none;
}
.canvas-background{
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  background-image: linear-gradient(to right, #1C5D99, #478491 50%);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  pointer-events: all;
}
.intro{
  width: 100%;
  min-width: 650px;
  z-index: 5;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15%;
}
.intro-button{
  top: 0;
  left: 0;
  font-size: 12px;
  pointer-events: all;
  position: absolute;
}
.headshot{
  width: auto;
}
.about-me{
  flex-direction: column;
  padding-left: 15%;
  font-family: Raleway, sans-serif;  
  color: #212121;
  font-size: 3em;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
}
.about-me-row-1{
  font-family: Raleway, sans-serif;  
  color: #212121;
  z-index: 5;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 10%;
  padding: 20px;
  height: 250px;

}
.about-me-row-2{
  font-family: Raleway, sans-serif;  
  color: #212121;
  z-index: 5;
  display: flex;
  align-items: flex-end;
  z-index: 5;
  margin-bottom: 10%;
  height: '222px';
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.about-me-info{
  color:#212121;
  height: 222px;
  background: rgb(255, 255, 255, .2);
}
.navBar{
  background-color: rgb(255, 255, 255, .5);
  border: 1px solid white;
  pointer-events: all;
  min-height: 50px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  margin-bottom: 10px;
}
.projects{
  flex-direction: column;
  padding-left: 15%;
  font-family: Raleway, sans-serif;  
  color: #212121;
  font-size: 3em;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 500px;
  scroll-behavior: smooth;
}
.projects-header{
  font-family: 'Raleway', sans-serif;  
  color: #212121;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 40px;
  margin-top: 20px;
}
.projectsContainer{
  margin-top: 10px;
  columns: 20vw; 
  column-gap: 5px;
  font-size: 10%;
  pointer-events: all;
  overflow: scroll;
}
.projectBox{
  pointer-events: all;
  padding: 2%;
  border: 1px solid #999;
  border-radius: 5px;
  background: rgba(56, 56, 56, 0.445);
  break-inside: avoid-column;
  margin-bottom: 1rem; 
  margin-right: 0px;
}

.projectCard{
  padding: 2%;
  border: 1px solid #999;
  border-radius: 5px;
  background: #2e2e2e;
  break-inside: avoid-column;
  margin-bottom: 1rem; 
  margin-right: 0px
}

h1 {
  margin-top: 0;
  margin-left: 0.75rem;
}

.projectImage{
  width: 100%;
}
.headshot{
  height: 5em;
  width: 4.7em;
  border-radius: 50%;
}
.ant-card.ant-card-bordered{
  width: 90%;
  background-color: rgb(33, 33, 33, .4);
  color: white;
}
#root{
  overflow: visible;
}
.card bg-dark text-white{
  width: 100px;
  height: 100px;
}
#thumbwrap {
	position:relative;
	margin:75px auto;
	width:252px; height:252px;
}
.thumb img { 
	margin:3px;
	float:left;
}
.thumb span { 
	position:absolute;
	visibility:hidden;
}
.thumb:hover, .thumb:hover span { 
	visibility:visible;
  top:0; 
  left:250px; 
	z-index:1;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  scroll-behavior: auto;
}

.zoom:hover {
  transform: scale(1.5);
}







/* ADDING NEON TO TEXT comment in for text, too laggy to use with canvas */
/* @import url('https://fonts.googleapis.com/css?family=Iceland|Monoton');
body {
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
#container {
  width: 500px;
  margin: auto;
}
#red {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: all;
}
#red {
  font-size: 1.5em;
  color: #228DFF;
  font-family: Monoton;
  color: #FF1177;
}
#blue a {
  font-size: 1.5em;
  color: #228DFF;
  font-family: Iceland;
}
#red:hover {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

#blue a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

@keyframes neon2 {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
      text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon1 {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}


@media (max-width: 650px) {
  #container {
      width: 100%;
  }
  p {
      font-size: 3.5em;
  }
} */